.slick_tab_wrapper {
	/*right: 250px;*/
	/* border: outset 1px #dfdfdf; */
	font-family: 'calibri','Lucida Grande',Verdana,Arial,Sans-Serif; 
	/* height:100%; */
	/* margin:0; */
	/* position:fixed; */
	/* top:0; */
	/* width:100%; */
	 z-index: 100000;
}
#slick_tab {
	background:none repeat scroll 0 0 #f3f3f3
	border:5px solid #dfdfdf
	height: 250px;
	width: 250px;
	top: 50%;
	position:absolute;
	overflow:show;
}
#tab_toggle:hover {
	cursor: pointer;
}
#tab_toggle_bg:hover {
	cursor: pointer;
}
#slick_tab_background {
	opacity: 0.8;
	position:absolute; 
	width:100%; 
	height:100%;
	z-index:-1;
	top: 0;
	border-radius: 5px;

	background:  #f3f3f3;
	/* background: url();
	background-size: 100%;
	background-repeat: no-repeat; */
}
/* Chrome and Safari overlap fix*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
 #tab_toggle { 
 	position: absolute;
	right:0;
 }
}
.tab_text_bg {
	position: absolute;
	width: 60px;
	height: 40px;
	background-color: #f3f3f3;
	top: 50%;
	right: -20px;
	overflow: hidden;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

#tab_title_wrap {
	margin-left: 1px;
        margin-top: 10px;
	background-color: #f3f3f3;
	position: relative;
	display:block;
	font-weight:bold;
        font-size:14px;
        font-family: 'calibri','Lucida Grande',Verdana,Arial,Sans-Serif;
        color:#606060;
        overflow: visible;

}
.newline {
	display: block;
	line-height: 1.7em; 
}
.open_action {
	position: fixed;
        background-image: url("images/SlickTab.png");
        background-repeat: no-repeat;
        background-size: 120px 120px;
	width:100px;
        height: 100px;
        top: 45% !important;
	left: 0;
}
.closed_action {
	position: static;
	background-image: url('images/close.gif') !important;
    background-size: 12px 12px;
    background-repeat: no-repeat;
	height: 12px;
	width: 12px;
    float: right;
	right: 0;
	margin-top: 7px; 
	margin-right: 7px;
}